In [78]:
import pandas as pd
import numpy as np
import os

In [137]:
df1 = pd.read_csv("PD-007 - Q 1_1.csv", index_col=[0], parse_dates=[0])

In [138]:
df1

,C:\CDSProjects\Dingwall_group\Results\PD - TEMPO\PD-007\PD-007 - Q 1.sirslt\PD-007 - Q 1.dx,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
Data file:,,,,,,
Sample name:,PD-007 - Q 1,NaN,NaN,NaN,NaN,NaN
Description:,NaN,NaN,NaN,NaN,NaN,NaN
Sample amount:,0,Sample type:,Sample,NaN,NaN,NaN
Instrument:,1100LC,Location:,3,NaN,NaN,NaN
Injection date:,2019-08-26 09:39:57+01:00,Injection:,1 of 1,NaN,NaN,NaN
Acq. method:,PD - TEMPO Gradient.amx,Injection volume:,2,NaN,NaN,NaN
Analysis method:,*GC_LC Area Percent_DefaultMethod.pmx,Acq. operator:,SYSTEM,NaN,NaN,NaN
Last changed:,2019-06-19 10:57:01+01:00,NaN,NaN,NaN,NaN,NaN
Signal:,"VWD1A,Wavelength=210 nm",NaN,NaN,NaN,NaN,NaN
RT [min],Type,Width [min],Area,Height,Area%,Name
1.519,BV,1.4322,55390.1695,2745.5606,96.8723,NaN
2.49,VB,1.7424,239.5293,6.5397,0.4189,NaN
5.006,BB,0.9027,1278.9547,77.5978,2.2368,NaN
7.042,BB,0.4572,269.8623,28.5968,0.472,NaN
NaN,NaN,Sum,57178.5158,NaN,NaN,NaN

In [139]:
df2 = pd.read_csv("PD-007 - Q 1_1.csv")

In [140]:
df2

,Data file:,C:\CDSProjects\Dingwall_group\Results\PD - TEMPO\PD-007\PD-007 - Q 1.sirslt\PD-007 - Q 1.dx,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Sample name:,PD-007 - Q 1,NaN,NaN,NaN,NaN,NaN
1,Description:,NaN,NaN,NaN,NaN,NaN,NaN
2,Sample amount:,0,Sample type:,Sample,NaN,NaN,NaN
3,Instrument:,1100LC,Location:,3,NaN,NaN,NaN
4,Injection date:,2019-08-26 09:39:57+01:00,Injection:,1 of 1,NaN,NaN,NaN
5,Acq. method:,PD - TEMPO Gradient.amx,Injection volume:,2,NaN,NaN,NaN
6,Analysis method:,*GC_LC Area Percent_DefaultMethod.pmx,Acq. operator:,SYSTEM,NaN,NaN,NaN
7,Last changed:,2019-06-19 10:57:01+01:00,NaN,NaN,NaN,NaN,NaN
8,Signal:,"VWD1A,Wavelength=210 nm",NaN,NaN,NaN,NaN,NaN
9,RT [min],Type,Width [min],Area,Height,Area%,Name
10,1.519,BV,1.4322,55390.1695,2745.5606,96.8723,NaN
11,2.49,VB,1.7424,239.5293,6.5397,0.4189,NaN
12,5.006,BB,0.9027,1278.9547,77.5978,2.2368,NaN
13,7.042,BB,0.4572,269.8623,28.5968,0.472,NaN
14,NaN,NaN,Sum,57178.5158,NaN,NaN,NaN

In [148]:
df1 = pd.read_csv("PD-007 - Q 1_1.csv", skiprows = 1,
                  index_col=[0], parse_dates=[0])
df2 = pd.read_csv("PD-007 - Q 2_1.csv", skiprows = 1,
                  index_col=[0], parse_dates=[0])
df3 = pd.read_csv("PD-007 - Q 3_1.csv", skiprows = 1,
                  index_col=[0], parse_dates=[0])

manual_raw = pd.concat([df1, df2, df3], axis=1, join='inner').sort_index()

In [149]:
manual_raw

,PD-007 - Q 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,PD-007 - Q 2,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,PD-007 - Q 3,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
Sample name:,,,,,,,,,,,,,,,,,,
Acq. method:,PD - TEMPO Gradient.amx,Injection volume:,2,NaN,NaN,NaN,PD - TEMPO Gradient.amx,Injection volume:,2,NaN,NaN,NaN,PD - TEMPO Gradient.amx,Injection volume:,2,NaN,NaN,NaN
Analysis method:,*GC_LC Area Percent_DefaultMethod.pmx,Acq. operator:,SYSTEM,NaN,NaN,NaN,*GC_LC Area Percent_DefaultMethod.pmx,Acq. operator:,SYSTEM,NaN,NaN,NaN,*GC_LC Area Percent_DefaultMethod.pmx,Acq. operator:,SYSTEM,NaN,NaN,NaN
Description:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Injection date:,2019-08-26 09:39:57+01:00,Injection:,1 of 1,NaN,NaN,NaN,2019-08-26 10:25:13+01:00,Injection:,1 of 1,NaN,NaN,NaN,2019-08-26 10:47:54+01:00,Injection:,1 of 1,NaN,NaN,NaN
Instrument:,1100LC,Location:,3,NaN,NaN,NaN,1100LC,Location:,6,NaN,NaN,NaN,1100LC,Location:,9,NaN,NaN,NaN
Last changed:,2019-06-19 10:57:01+01:00,NaN,NaN,NaN,NaN,NaN,2021-02-04 14:51:26+00:00,NaN,NaN,NaN,NaN,NaN,2019-06-19 10:57:01+01:00,NaN,NaN,NaN,NaN,NaN
RT [min],Type,Width [min],Area,Height,Area%,Name,Type,Width [min],Area,Height,Area%,Name,Type,Width [min],Area,Height,Area%,Name
Sample amount:,0,Sample type:,Sample,NaN,NaN,NaN,0,Sample type:,Sample,NaN,NaN,NaN,0,Sample type:,Sample,NaN,NaN,NaN
Signal:,"VWD1A,Wavelength=210 nm",NaN,NaN,NaN,NaN,NaN,"VWD1A,Wavelength=210 nm",NaN,NaN,NaN,NaN,NaN,"VWD1A,Wavelength=210 nm",NaN,NaN,NaN,NaN,NaN
NaN,NaN,Sum,57178.5158,NaN,NaN,NaN,NaN,Sum,57240.4318,NaN,NaN,NaN,NaN,Sum,57455.3468,NaN,NaN,NaN

In [130]:
os.chdir('C:\\Users\\padin_000\\Documents\\github\\htke\\PD-007')

dfs = [pd.read_csv(f, skiprows = 10, index_col=[0], parse_dates=[0])
        for f in os.listdir(os.getcwd()) if f.endswith('csv')]

raw_data = pd.concat(dfs)

# import os
# ...
# os.chdir('E:\\Business\\Economic Indicators')

# dfs = [pd.read_csv(f, index_col=[0], parse_dates=[0])
#         for f in os.listdir(os.getcwd()) if f.endswith('csv')]

# finaldf = pd.concat(dfs, axis=1, join='inner').sort_index()

In [131]:
raw_data

          Type Width [min]        Area     Height    Area%  Name
RT [min]
1.510     BB        3.0299  55230.0460  2747.4610  96.8653   NaN
5.116     BB        0.8348    221.6965    11.9836   0.3888   NaN
7.096     BB        1.0639   1565.6123   160.8382   2.7459   NaN
NaN        NaN         Sum  57017.3548        NaN      NaN   NaN
1.519     BV        1.4322  55390.1695  2745.5606  96.8723   NaN
2.490     VB        1.7424    239.5293     6.5397   0.4189   NaN
5.006     BB        0.9027   1278.9547    77.5978   2.2368   NaN
7.042     BB        0.4572    269.8623    28.5968   0.4720   NaN
NaN        NaN         Sum  57178.5158        NaN      NaN   NaN
1.515     BB        3.1123  55654.1125  2748.0588  97.2287   NaN
5.038     BB        0.8639   1095.8640    63.6495   1.9145   NaN
7.102     BB        0.5314    490.4553    52.4376   0.8568   NaN
NaN        NaN         Sum  57240.4318        NaN      NaN   NaN
1.522     BB        3.4963  55742.8181  2750.6365  97.0194   NaN
5.130     BB        0.9124   1005.9001    55.1101   1.7508   NaN
7.120     BB        1.0268    706.6285    76.0903   1.2299   NaN
NaN        NaN         Sum  57455.3468        NaN      NaN   NaN
1.528     BV        3.7314  56053.7556  2750.6057  97.1822   NaN
5.057     VB        0.8647    761.6352    43.3707   1.3205   NaN
7.078     BB        0.8295    863.6160    89.9067   1.4973   NaN
NaN        NaN         Sum  57679.0068        NaN      NaN   NaN
1.539     BB        3.0406  56184.1926  2750.6822  97.0353   NaN
5.080     BB        0.8590    641.7903    36.8522   1.1084   NaN
7.094     BB        0.5965   1074.8124   112.9330   1.8563   NaN
NaN        NaN         Sum  57900.7953        NaN      NaN   NaN
1.514     BB        2.9981  55434.6165  2750.1035  97.0495   NaN
4.998     BB        0.8299    497.1262    29.1159   0.8703   NaN
7.054     BB        0.8226   1188.1978   122.6763   2.0802   NaN
NaN        NaN         Sum  57119.9405        NaN      NaN   NaN
1.538     BB        3.0147  56223.5787  2749.1316  97.0656   NaN
5.095     BB        0.8251    408.5768    23.0491   0.7054   NaN
7.095     BB        1.0522   1291.1351   134.3653   2.2290   NaN
NaN        NaN         Sum  57923.2906        NaN      NaN   NaN
1.558     BB        3.0697  56819.6262  2748.9830  97.0282   NaN
5.140     BB        0.8056    329.5639    19.0625   0.5628   NaN
7.073     BB        1.0694   1410.7289   144.9031   2.4090   NaN
NaN        NaN         Sum  58559.9190        NaN      NaN   NaN
1.517     BB        3.0339  55535.9146  2747.8624  97.1077   NaN
5.058     BB        0.8105    257.4652    14.2706   0.4502   NaN
7.086     BB        0.8171   1396.6689   143.9999   2.4422   NaN
NaN        NaN         Sum  57190.0487        NaN      NaN   NaN

In [119]:
list(raw_data)

['Type',
 'Width [min]',
 'Area',
 'Height',
 'Area%',
 'Name',
 'Type',
 'Width [min]',
 'Area',
 'Height',
 'Area%',
 'Name',
 'Type',
 'Width [min]',
 'Area',
 'Height',
 'Area%',
 'Name',
 'Type',
 'Width [min]',
 'Area',
 'Height',
 'Area%',
 'Name',
 'Type',
 'Width [min]',
 'Area',
 'Height',
 'Area%',
 'Name',
 'Type',
 'Width [min]',
 'Area',
 'Height',
 'Area%',
 'Name',
 'Type',
 'Width [min]',
 'Area',
 'Height',
 'Area%',
 'Name',
 'Type',
 'Width [min]',
 'Area',
 'Height',
 'Area%',
 'Name',
 'Type',
 'Width [min]',
 'Area',
 'Height',
 'Area%',
 'Name',
 'Type',
 'Width [min]',
 'Area',
 'Height',
 'Area%',
 'Name']

In [116]:
raw_data

          Type Width [min]        Area     Height    Area%  Name
RT [min]
1.510     BB        3.0299  55230.0460  2747.4610  96.8653   NaN
5.116     BB        0.8348    221.6965    11.9836   0.3888   NaN
7.096     BB        1.0639   1565.6123   160.8382   2.7459   NaN
NaN        NaN         Sum  57017.3548        NaN      NaN   NaN
1.519     BV        1.4322  55390.1695  2745.5606  96.8723   NaN
2.490     VB        1.7424    239.5293     6.5397   0.4189   NaN
5.006     BB        0.9027   1278.9547    77.5978   2.2368   NaN
7.042     BB        0.4572    269.8623    28.5968   0.4720   NaN
NaN        NaN         Sum  57178.5158        NaN      NaN   NaN
1.515     BB        3.1123  55654.1125  2748.0588  97.2287   NaN
5.038     BB        0.8639   1095.8640    63.6495   1.9145   NaN
7.102     BB        0.5314    490.4553    52.4376   0.8568   NaN
NaN        NaN         Sum  57240.4318        NaN      NaN   NaN
1.522     BB        3.4963  55742.8181  2750.6365  97.0194   NaN
5.130     BB        0.9124   1005.9001    55.1101   1.7508   NaN
7.120     BB        1.0268    706.6285    76.0903   1.2299   NaN
NaN        NaN         Sum  57455.3468        NaN      NaN   NaN
1.528     BV        3.7314  56053.7556  2750.6057  97.1822   NaN
5.057     VB        0.8647    761.6352    43.3707   1.3205   NaN
7.078     BB        0.8295    863.6160    89.9067   1.4973   NaN
NaN        NaN         Sum  57679.0068        NaN      NaN   NaN
1.539     BB        3.0406  56184.1926  2750.6822  97.0353   NaN
5.080     BB        0.8590    641.7903    36.8522   1.1084   NaN
7.094     BB        0.5965   1074.8124   112.9330   1.8563   NaN
NaN        NaN         Sum  57900.7953        NaN      NaN   NaN
1.514     BB        2.9981  55434.6165  2750.1035  97.0495   NaN
4.998     BB        0.8299    497.1262    29.1159   0.8703   NaN
7.054     BB        0.8226   1188.1978   122.6763   2.0802   NaN
NaN        NaN         Sum  57119.9405        NaN      NaN   NaN
1.538     BB        3.0147  56223.5787  2749.1316  97.0656   NaN
5.095     BB        0.8251    408.5768    23.0491   0.7054   NaN
7.095     BB        1.0522   1291.1351   134.3653   2.2290   NaN
NaN        NaN         Sum  57923.2906        NaN      NaN   NaN
1.558     BB        3.0697  56819.6262  2748.9830  97.0282   NaN
5.140     BB        0.8056    329.5639    19.0625   0.5628   NaN
7.073     BB        1.0694   1410.7289   144.9031   2.4090   NaN
NaN        NaN         Sum  58559.9190        NaN      NaN   NaN
1.517     BB        3.0339  55535.9146  2747.8624  97.1077   NaN
5.058     BB        0.8105    257.4652    14.2706   0.4502   NaN
7.086     BB        0.8171   1396.6689   143.9999   2.4422   NaN
NaN        NaN         Sum  57190.0487        NaN      NaN   NaN